.*
!/.gitignore
*.pyc
*.sublime-workspace
*.sublime-project
.ipynb_checkpoints
/py_matrix/examples/.ipynb_checkpoints/*
/#mat.pyc#
/mat.py~
/materials/.directory
/misc.py
/misc.py~
/silk_crossllink.mat
/.ipynb_checkpoints/numba test-checkpoint.ipynb
/examples/cmd.txt
/examples/numba test.ipynb
/numba test.py
